@import "tailwindcss";

body {
  background-color: black;
  color: white;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}
